@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@400;700&family=Montserrat:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

@import "tailwindcss";

@theme {
  --font-cormorant: "Cormorant Garamond", serif;
  --font-montserrat: "Montserrat", sans-serif;
}
@layer utilities {

    /* 🎨 Fondos */
    .bg-principal { background-color: #FAFAF8; }
    .bg-alt { background-color: #F2F0EC; }
    .bg-cards { background-color: #D6E8E2; }
    .bg-info { background-color: rgba(196, 186, 178, .2); }
    .bg-entregado{
        background-color: rgba(168, 196, 184, .5);
    }
    .bg-encamino{
        background-color: rgba(212, 184, 150, .5);
    }
    .bg-procesando{
      background-color: rgba(221, 219, 249, .5);
  }
  
    /* 📝 Texto */
    .text-title { color: #2E3D35; }
    .text-title-alt { color: #B89A6A; }
    .text-paragraph { color: #635C55; }
    .text-form { color: #C4BAB2; }
    .text-banner { color: #A8C4B8; }
    .text_cta_alt {color: #D4B896;}
    .text_numeral_alt { color: #5C7A6B;}
  
    /* 🔘 Botones */
    .bg-btn { background-color: #5C7A6B; }
    .text-btn { color: #FFFFFF; }

    /* border */
    .border-subrayado{
        border-color: rgba(92, 122, 107, .5);
    }
    .border-cards{
        border-color: rgba(45, 41, 38, 0.10);
    }
    .border-colection{
        border-color: rgba(92, 122, 107);
    }

    /* lineas horizontales */
    .linea-primaria{
        background-color: rgba(92, 122, 107, 0.2);
    }

  }